<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>VueJS Exercise</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <!-- https://vuejs.org/v2/guide/#Getting-Started -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <body>

    <!-- https://vuejs.org/v2/guide/index.html -->
    <div class="container" id="app">
      <!--
           TODO Show collection data. See js/script.js
           - Show collection Title
           - For each item (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
             - Display a link for the item "href" property
             - Display the item data. For each data element:
               - Display its "prompt" property in bold style
               - Display its "value" property in italic style
      -->

		 <h1>{{ d.collection.title }}</h1>
			<div>
				{{ d.collection.type }} {{ d.collection.version }}
			</div>
			<div class="row" id="itemlist">
			<div  class="card col-md-4" v-for="todo in d.collection.items">
			
				<img class="card-img-top"  alt="Movie image" v-for="imagen in todo.data" v-if="imagen.name=='image'" v-bind:src="imagen.value">
				
				<div class="card-body">
					<h5 class="card-title" v-for="elemento in todo.data" v-if="elemento.name=='name'">{{ elemento.value }}</h5>	
					<ul>
						<li v-for="datos in todo.data" v-if="datos.name!= 'name' && datos.name!= 'image' ">
						<span style="font-weight:bold">{{ datos.prompt }} </span><span style="font-weight:italic">{{ datos.value }} </span>
						</li>
					</ul>
						<a class="card-link" v-bind:href="todo.href">	Ver en wikipedia </a>
				</div>
			</div>		
		</div>
		</div>
    <script src="js/script.js"></script>
  </body>

</html>
